#root {
    padding: 20px 0;
}
.calendar {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 20px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}
.calendar__head {
    display: flex;
    justify-content: space-between;
    padding: 25px 48px 46px 48px;
    align-items: center;
}
.calendar__head-btn {
    background-color: transparent;
}
.calendar__head-btn svg {
    width: 28px;
    height: 28px;
}
.calendar__head-btn svg path {
    fill: red;
}
.calendar__title {
    font-size: 36px;
    font-weight: 300;
    word-spacing: 5px;
}
.calendar__date {
    padding: 17px 10px 10px 80px;
    background-color: #f6f6f6;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
}
.calendar__block {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.calendar__days {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 28px;
}
.calendar__days span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.calendar__days span.active {
    background-color: red;
    border-radius: 50%;
    color: white;
}
.calendar__next,
.calendar__prev {
    background-color: transparent;
}
.calendar__next:before,
.calendar__prev:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-top: 3px solid red;
    border-right: 3px solid red;
}
.calendar__next:before {
    transform: rotate(45deg);
}
.calendar__prev:before {
    transform: rotate(-135deg);
}
.calendar__flex {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}
.calendar__month-year {
    font-size: 24px;
}
.calendar__table tr td {
    border: 2px solid #ebebeb;
    width: 80px;
    height: 63px;
}
.calendar__table tr td:first-child {
    border-left: none;
}
.calendar__table tr td:last-child {
    border-right: none;
}
.calendar__table tr td span {
    display: block;
    border: 2px solid white;
    width: 100%;
    height: 100%;
}
.calendar__table tr td.active span {
    background-color: #ebecfe;
}
.calendar__table tr td.selected span {
    background-color: #b3b7fd;
}
.calendar__table {
    margin-top: -2px;
    margin-left: 80px;
    border-collapse: collapse;
}
.calendar__tasks {
    max-height: 775px;
    overflow-y: auto;
    position: relative;
}
.calendar__time {
    padding-left: 16px;
    position: absolute;
    height: 1534px;
    transform: translateY(-12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calendar__time span {
    color: #c0c0c0;
    font-size: 20px;
    font-weight: 600;
}
.calendar__time span:first-child {
    transform: none;
}
.calendar__time span:last-child {
    transform: none;
}
.calendar__footer {
    background-color: #f6f6f6;
    border-top: 2px solid #ebebeb;
    padding: 30px 45px;
    font-size: 28px;
    color: red;
    margin-top: -13px;
    z-index: 0;
    position: relative;
}
