.calendar__time {
    padding-left: 16px;
    position: absolute;
    height: 1534px;
    transform: translateY(-12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calendar__time span {
    color: #c0c0c0;
    font-size: 20px;
    font-weight: 600;
}
.calendar__time span:first-child {
    transform: translateY(10px);
}
.calendar__time span:last-child {
    transform: translateY(-10px);
}
@media (max-width: 480px) {
    .calendar__time span {
        font-size: 14px;
    }
}
.calendar__footer {
    background-color: #f6f6f6;
    border-top: 2px solid #ebebeb;
    padding: 30px 45px;
    margin-top: -13px;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.calendar__footer span,
.calendar__footer button {
    color: red;
    font-size: 28px;
}
