.calendar {
    max-width: 640px;
    /*margin: 0 auto;*/
    padding: 20px 0;
}
.calendar__head {
    display: flex;
    justify-content: space-between;
    padding: 25px 48px 46px 48px;
    align-items: center;
}
.calendar__head-btn {
    background-color: transparent;
}
.calendar__head-btn svg {
    width: 28px;
    height: 28px;
}
.calendar__head-btn svg path {
    fill: red;
}
.calendar__title {
    font-size: 36px;
    font-weight: 300;
    word-spacing: 5px;
}
.calendar__date {
    padding: 17px 10px 10px 80px;
    background-color: #f6f6f6;
    border-top: 2px solid #ebebeb;
}
.calendar__block {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}
.calendar__days {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 28px;
}
.calendar__days span {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.calendar__days span.active {
    background-color: red;
    border-radius: 50%;
    color: white;
}
